.contact {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10% 7% 0;
  
    .contact-form {
      min-width: 35%;
      text-align: end;
  
      .form-title {
        font-size: 2.375rem;
        padding: 0 5% 20px;
        text-align: center;
      }
  
      .decoration {
        margin: 0 auto 40px;
      }

      .form-successMessage {
        text-align: center;
        margin-bottom: 20px;
        color: green;
        font-size: 1.25rem;
        font-weight: 600;
      }
  
      .form-personalData {
        display: flex;
        margin-bottom: 30px;
        width: 100%;
  
        .personalData {
          display: flex;
          flex-direction: column;
          text-align: start;
          width: 100%;
  
          input {
            width: 100%;
          }
        }
  
        .personalData:not(:last-child) {
          margin-right: 15px;
        }
      }
  
      .form-message {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;
        margin-bottom: 30px;
      }

      .error-message {
        color: red;
        margin-top: 5px;
        font-size: 0.8rem;
      }
  
    }
  
    .contact-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 40px 0 10px;
      margin-top: 15%;
  
      .footer-copyrightContainer {
        width: 50%;
        display: flex;
        justify-content: end;
  
        .footer-copyright {
          transform: translateX(50%);
          font-size: 1.125rem;
        }
      }
      .footer-socialMedia {
        display: flex;
  
        .socialMedia-icon {
          cursor: pointer;
        }
  
       .socialMedia-icon:not(:last-child) {
          margin-right: 15px;
        }
  
      }
    }
  }