.headerContainer {
  text-align: end;
  width: 100%;
  
}

.heroContainer {
    display: flex;
    justify-content: end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 900px bottom;
    
}