.login { 

.login-Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding: 0 20px;
  width: 40%;
}

// .login {
//   border-radius: 5px;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
//   padding: 20px;
//   width: 100%;
//   text-align: start;
// }

.label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-Inputs {
  width: 80%;
  background-color: #f0f1f1;
  padding: 7% 10% 3%;
  margin-bottom: 30px;

  .input {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .error-message {
      color: red;
      margin-top: 10px;
      font-size: 0.8rem;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    
  }

    
  }
}
.form-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

     }