form {
    label {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    input,
    textarea {
      border: none;
      border-bottom: 1px solid $col-gray;
      background: none;
      padding: 0 0 3px 0;
  
      &:focus {
        outline: none;
      }
  
      &::placeholder {
        color: #3C3C3C26;
      }
    }
  
    textarea {
      resize: none;
    }
  }